{% extends 'base.html' %}

{% block main %}
  <style>
      h3{
          text-align: center;
      }
  </style>
<div class="row login login-form">
    <div class="col-md-12 col-md-offset-3">
        <div class="page-header">
            <div class="inner">
                  <h3>Solicitação Confirmada</h3>
                  <p class="description">
                      Enviamos um e-mail com as instruções para recuperação de sua senha. Em breve você deverá recebê-lo.
                  </p>
                  <p class="description">
                    Se você não receber nenhum e-mail, por favor, confirme se informou corretamente o endereço no qual está
                    registrado e cheque sua caixa de Spam.
                  </p>
            </div>
        </div>
    </div>
    <a href="/accounts/login">Voltar ao Login</a>
</div>
{% endblock %}