{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block main %}
<div class="row login login-form">
    <div class="col-md-12 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Redefinição de Senha</h3>
            </div>
            <div class="panel-body">
              {% if validlink %}
                <form method="post">
                  {% csrf_token %}
                  {{ form|bootstrap }}
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Confirmar</button>
                </form>
              {% else %}
                <p class="description">
                    O link para recuperação de senha é inválido, possivelmente ele já foi utilizado.<br/>
                    Por favor, solicite novamente uma redefinição de senha.
                </p>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}