{% extends 'base.html' %}

{% block main %}
<style>
      h3{
          text-align: center;
      }
  </style>
<div class="row login login-form">
    <div class="col-md-12 col-md-offset-3">
        <div class="page-header">
            <div class="inner">
                <h3>Alteração Confirmada</h3>
                <p class="description">
                    Sua senha foi redefinida. Volte para a <a href="/accounts/login">página principal</a>
                    e faça o seu login.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}