{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block main %}
<div class="row login login-form">
    <div class="col-md-12 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Redefinição de Senha</h3>
            </div>
            <div class="panel-body">
                <p class="description">
                    Caso tenha esquecido sua senha, insira o seu e-mail de acesso abaixo para receber as orientações de
                    recuperação de acesso.
                </p>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}

