{% extends "base_grandy.html" %}
{% load static %}
{% load processo_seletivo_tag %}


{% block content %}

<div id="sortableKanbanBoards" class="row">
    <div class="table-responsive">
      <table class="table">
        <tr>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        TODO
                    </div>
                    <div class="panel-body">
                        <div id="TODO2" class="kanban-centered">
                            <article class="kanban-entry grab" id="item2" draggable="true">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="panel panel-primary kanban-col">
                    <div class="panel-heading">
                        TODO
                    </div>
                    <div class="panel-body">
                        <div id="TODO" class="kanban-centered">
                            <article class="kanban-entry grab" id="item1" draggable="true">
                                <div class="kanban-entry-inner">
                                    <div class="kanban-label">
                                        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                        <p>
                                            Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                            prepare how cordial two promise. Greatly who affixed suppose but enquire compact
                                            prepare all put. Added forth chief trees but rooms think may.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
      </table>
    </div>

    <!-- Static Modal -->
    <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                        <h4>Processando...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'core/js/kanban.js' %}"></script>

<script>
    function atualizar_quadro(coluna, elemento){
        alert("Vamos atualizar o quadro")
        alert(coluna)
        alert(elemento)
    }
</script>
{% endblock %}

{% block extrastyle %}
<link href="{% static 'core/css/kanban.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock extrastyle %}