p.help-block{
    color: #09caec;
    font-size: 0.8em;
}

div.table-responsive{
    font-size: 0.8em;
}

div.card-header{
    background-color: #417690;
    color: #FFFFFF;
}

ul.socialaccount_providers {
    list-style: none; /* Remove list bullets */
}

ul.socialaccount_providers li{
    width: 250px;
}
